
<!DOCTYPE html>
<html>
  <head>
    <title>Travel Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>Travel Log</h2>
      <h4>Your travel entry has been deleted!</h4>
      <a href="/place" class="btn">Return to Travel Log</a>
    </div>
  </body>
</html>