<!DOCTYPE html>
<html>
  <head>
    <title>Travel Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>Fill out the form</h2>
      <form action="/place" method="post">
      <div class="form-group">
        <label for="cityName">City:</label>
        <input type="text" name="cityName" id="cityName">
      </div>
      <button type="submit">Log your trip</button>
      </form>
    </div>
  </body>
</html>